<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pocket Vector</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.sports-games</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>PocketVectorPrivacyPolicyURL</key>
	<string>https://gridironchronicle.com/pocket-vector/privacy</string>
	<key>PocketVectorServices</key>
	<dict>
		<key>CloudKit</key>
		<dict>
			<key>AccountIdentifierNamespace</key>
			<string>account-v1</string>
			<key>ContainerIdentifier</key>
			<string>iCloud.com.pocketvector.game</string>
			<key>EconomyPayloadFieldName</key>
			<string>economyPayload</string>
			<key>EconomyRecordID</key>
			<string>economy-head-v1</string>
			<key>EconomyRecordType</key>
			<string>EconomyHead</string>
			<key>OperationRecordType</key>
			<string>OperationMarker</string>
			<key>PayloadFieldName</key>
			<string>payload</string>
			<key>ProfilePayloadFieldName</key>
			<string>profilePayload</string>
			<key>ProfileRootRecordType</key>
			<string>ProfileRoot</string>
			<key>ProfileRunRecordType</key>
			<string>ProfileRun</string>
			<key>ProfileSelectionRecordType</key>
			<string>ProfileSelection</string>
			<key>ProfileSettingsRecordType</key>
			<string>ProfileSettings</string>
			<key>RecordNameNamespace</key>
			<string>record-v1</string>
			<key>ZoneName</key>
			<string>PocketVectorPrivateZone</string>
		</dict>
		<key>GameCenter</key>
		<dict>
			<key>AchievementIdentifiers</key>
			<dict>
				<key>achievement.cash_the_charge.v1</key>
				<string>achievement.cash_the_charge.v1</string>
				<key>achievement.dialed_in.v1</key>
				<string>achievement.dialed_in.v1</string>
				<key>achievement.first_read.v1</key>
				<string>achievement.first_read.v1</string>
				<key>achievement.full_route_tree.v1</key>
				<string>achievement.full_route_tree.v1</string>
				<key>achievement.hot_hand.v1</key>
				<string>achievement.hot_hand.v1</string>
				<key>achievement.light_up_the_board.v1</key>
				<string>achievement.light_up_the_board.v1</string>
				<key>achievement.millenia_of_connections.v1</key>
				<string>achievement.millenia_of_connections.v1</string>
				<key>achievement.paydirt.v1</key>
				<string>achievement.paydirt.v1</string>
			</dict>
			<key>LeaderboardIdentifier</key>
			<string>com.pocketvector.game.leaderboard.highscore.v1</string>
		</dict>
		<key>StoreKit</key>
		<dict>
			<key>ProductIdentifiers</key>
			<dict>
				<key>bundle</key>
				<string>com.pocketvector.game.coins.bundle</string>
				<key>pocket</key>
				<string>com.pocketvector.game.coins.pocket</string>
				<key>team</key>
				<string>com.pocketvector.game.coins.team</string>
				<key>vault</key>
				<string>com.pocketvector.game.coins.vault</string>
			</dict>
		</dict>
	</dict>
	<key>PocketVectorSupportEmail</key>
	<string>andy@gridironchronicle.com</string>
	<key>PocketVectorSupportURL</key>
	<string>https://gridironchronicle.com/pocket-vector/privacy</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
